*{
	margin:0px;
	padding:0px; 
}

.content{
	position:fixed;
	width:100vw;
	height:100vh;
	background-image:url("img/background.jpg");
}

.content-body{
	z-index:999999999;
	background-color:rgba(0,0,0, .3);
	top:0;left:0;
	width:100%;
	position: relative;
	height:100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.left-bar{
	position: relative;
	background-color: rgb(146, 232, 245);
	padding:1em;
	overflow: auto;
}

.right-bar{
	position: relative;
	background-color: rgb(92, 91, 91, .2);
	padding:2em;
	overflow: auto;
}

.right-bar h3{
	color:white;
	font-size:30px;
	text-decoration: underline;
}

.right-bar h4{
	text-decoration: underline;
	color:white;
	font-weight: bolder;
	font-size: 25px;
}


.right-bar p{
	font-size: 20px;
}

.right-bar em{
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
}

.right-bar span{
	color:green ;
	font-weight: bolder;
	font-size:20px;
}


.picture-blog{
	width:100%;
	text-align: center;
	border-radius:50%;
}

img {
	border-radius:50% ;
	width:200px;
	height:200px
}

hr{
	background-color:white;
	border-color: white;
	}

.header
{
	margin-top:25px;
	font-weight: bolder;
	color:white;
	text-decoration: underline;
	text-align: center;
	font-style:italic;
	font-size:25px
}

.information-user
{
	margin-top:20px;
	padding:1em;
	display:block;
	font-size:20px;
}

p{
	padding:1em;
}

td{
	width:200px;
	padding: .2em;
}

label{
	font-weight: bolder;
	font-family: 'Times New Roman', Times, serif;
	font-size:20px;
}

 /* responsive design */

 @media screen and (max-width: 1018px)
 {
 	.header
	{
		font-size:20px
	}
 }

 @media screen and (max-width: 1366px)
 {
	td{
		width:150px;
		padding: .1em;
	}
	
	label{
		font-weight: bolder;
		font-family: 'Times New Roman', Times, serif;
		font-size:18px;
	}
 }

 @media screen and (max-width: 1297px)
 {
	td{
		display:inline-block;
		padding:.2em;
	}

	label{
		font-weight: bolder;
		font-family: 'Times New Roman', Times, serif;
		font-size:20px;
	}

 }

 @media screen and (max-width: 830px)
 {
	img{
		border-radius:50% ;
		width:150px;
		height:150px
	}

	em{
		font-size:18px;
	}
 }	

 @media screen and (max-width: 699px)
 {
	.content-body{
		grid-template-columns: 2fr 3fr;
	}	
 }

 @media screen and (max-width: 1195px)
 {
	.content-body{
		grid-template-columns: 2fr 3fr;
	}	
 }

 /* -- fin du responsive -- */